In [ ]:
""""create a dictionary of your own data and convert it to a dataframe
do some basic exploratory analysis on the data"""

In [3]:
import pandas as pd
data = {"Housing_type": ["Single_room", "apartment","studio", "Bangalow"],
              "Number_of_rooms": ["1", "2", "1", "3"],
              "Housing_condition": ["good_condition", "fully_furnished", "small", "poor_condition"],
              "Location": ["Augsburg", "Landshut", "München", "Passau"],
              }

In [9]:
dt = pd.DataFrame(data)

In [10]:
print (dt)

  Housing_type Number_of_rooms Housing_condition  Location
0  Single_room               1    good_condition  Augsburg
1    apartment               2   fully_furnished  Landshut
2       studio               1             small   München
3     Bangalow               3    poor_condition    Passau

In [11]:
print(dt.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Housing_type       4 non-null      object
 1   Number_of_rooms    4 non-null      object
 2   Housing_condition  4 non-null      object
 3   Location           4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes
None

In [12]:
print(dt.describe())

       Housing_type Number_of_rooms Housing_condition  Location
count             4               4                 4         4
unique            4               3                 4         4
top     Single_room               1    good_condition  Augsburg
freq              1               2                 1         1

In [13]:
import pandas as pd

data = {
    'Product': ['Apple', 'Banana', 'Orange', 'Grapes'],
    'Price': [120, 40, 60, 150],
    'Quantity': [10, 20, 15, 5]
}

df = pd.DataFrame(data)

print(df)

  Product  Price  Quantity
0   Apple    120        10
1  Banana     40        20
2  Orange     60        15
3  Grapes    150         5

In [14]:
print(df.describe())

            Price   Quantity
count    4.000000   4.000000
mean    92.500000  12.500000
std     51.234754   6.454972
min     40.000000   5.000000
25%     55.000000   8.750000
50%     90.000000  12.500000
75%    127.500000  16.250000
max    150.000000  20.000000

In [15]:
print(dt.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Housing_type       4 non-null      object
 1   Number_of_rooms    4 non-null      object
 2   Housing_condition  4 non-null      object
 3   Location           4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes
None

In [ ]:
# Introduction to data cleaning
#1 subset columns and rows
# basic pandas data manpuli
#selecting specific data  points based on conditions

In [1]:
import pandas as pd

In [3]:
datapath = "/root/ds_tutorial/Test-repository/WhatsgoodlyData-6.csv"

data = pd.read_csv(datapath)

In [4]:
data

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,NaN,947,0.354
...,...,...,...,...,...,...
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,NaN,492,0.412

In [7]:
data.head(10)

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,What social platform has influenced your onlin...,Mobile,Global results,Facebook,548,0.205
1,What social platform has influenced your onlin...,Mobile,Global results,Instagram,916,0.342
2,What social platform has influenced your onlin...,Mobile,Global results,Snapchat,86,0.032
3,What social platform has influenced your onlin...,Mobile,Global results,Twitter,179,0.067
4,What social platform has influenced your onlin...,Mobile,Global results,NaN,947,0.354
5,What social platform has influenced your onlin...,Web,Web,Facebook,0,0.000
6,What social platform has influenced your onlin...,Web,Web,Instagram,0,0.000
7,What social platform has influenced your onlin...,Web,Web,Snapchat,0,0.000
8,What social platform has influenced your onlin...,Web,Web,Twitter,0,0.000
9,What social platform has influenced your onlin...,Web,Web,NaN,2,1.000

In [6]:
data.tail()

,Question,Segment Type,Segment Description,Answer,Count,Percentage
1445,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Facebook,215,0.180
1446,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Instagram,354,0.297
1447,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Snapchat,44,0.037
1448,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,Twitter,88,0.074
1449,What social platform has influenced your onlin...,Custom,Sexual orientation? Straight,NaN,492,0.412

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Question             1450 non-null   object
 1   Segment Type         1450 non-null   object
 2   Segment Description  1450 non-null   object
 3   Answer               1160 non-null   object
 4   Count                1450 non-null   int64
 5   Percentage           1450 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 68.1+ KB

In [9]:
data.dtypes

Question                object
Segment Type            object
Segment Description     object
Answer                  object
Count                    int64
Percentage             float64
dtype: object

In [10]:
data.columns

Index(['Question', 'Segment Type', 'Segment Description', 'Answer', 'Count',
       'Percentage'],
      dtype='object')

In [12]:
type(data["Answer"]) #data series

pandas.core.series.Series

In [13]:
data[["Answer"]] #dataframe

         Answer
0      Facebook
1     Instagram
2      Snapchat
3       Twitter
4           NaN
...         ...
1445   Facebook
1446  Instagram
1447   Snapchat
1448    Twitter
1449        NaN

[1450 rows x 1 columns]

In [14]:
data[["Answer"]].columns

Index(['Answer'], dtype='object')

In [15]:
data.Answer

0        Facebook
1       Instagram
2        Snapchat
3         Twitter
4             NaN
          ...
1445     Facebook
1446    Instagram
1447     Snapchat
1448      Twitter
1449          NaN
Name: Answer, Length: 1450, dtype: object

In [ ]:
# Row subsetting
# loc or iloc
#loc-- takes starting index and stop index /lower index/limit to upper index 
#iloc-- takes the positions of the row-- start/lower limit to upper limit but the upper position is not included in subsetting the rows

In [17]:
data.loc[10:25]

,Question,Segment Type,Segment Description,Answer,Count,Percentage
10,What social platform has influenced your onlin...,Gender,Female voters,Facebook,222,0.199
11,What social platform has influenced your onlin...,Gender,Female voters,Instagram,535,0.480
12,What social platform has influenced your onlin...,Gender,Female voters,Snapchat,29,0.026
13,What social platform has influenced your onlin...,Gender,Female voters,Twitter,57,0.051
14,What social platform has influenced your onlin...,Gender,Female voters,NaN,271,0.243
15,What social platform has influenced your onlin...,Gender,Male voters,Facebook,326,0.209
16,What social platform has influenced your onlin...,Gender,Male voters,Instagram,380,0.243
17,What social platform has influenced your onlin...,Gender,Male voters,Snapchat,56,0.036
18,What social platform has influenced your onlin...,Gender,Male voters,Twitter,122,0.078
19,What social platform has influenced your onlin...,Gender,Male voters,NaN,678,0.434
20,What social platform has influenced your onlin...,University,University of Delaware,Facebook,1,0.333
21,What social platform has influenced your onlin...,University,University of Delaware,Instagram,1,0.333
22,What social platform has influenced your onlin...,University,University of Delaware,Snapchat,0,0.000
23,What social platform has influenced your onlin...,University,University of Delaware,Twitter,0,0.000
24,What social platform has influenced your onlin...,University,University of Delaware,NaN,1,0.333
25,What social platform has influenced your onlin...,University,University of Pennsylvania,Facebook,1,0.250

In [18]:
data.iloc[10:25]

,Question,Segment Type,Segment Description,Answer,Count,Percentage
10,What social platform has influenced your onlin...,Gender,Female voters,Facebook,222,0.199
11,What social platform has influenced your onlin...,Gender,Female voters,Instagram,535,0.480
12,What social platform has influenced your onlin...,Gender,Female voters,Snapchat,29,0.026
13,What social platform has influenced your onlin...,Gender,Female voters,Twitter,57,0.051
14,What social platform has influenced your onlin...,Gender,Female voters,NaN,271,0.243
15,What social platform has influenced your onlin...,Gender,Male voters,Facebook,326,0.209
16,What social platform has influenced your onlin...,Gender,Male voters,Instagram,380,0.243
17,What social platform has influenced your onlin...,Gender,Male voters,Snapchat,56,0.036
18,What social platform has influenced your onlin...,Gender,Male voters,Twitter,122,0.078
19,What social platform has influenced your onlin...,Gender,Male voters,NaN,678,0.434
20,What social platform has influenced your onlin...,University,University of Delaware,Facebook,1,0.333
21,What social platform has influenced your onlin...,University,University of Delaware,Instagram,1,0.333
22,What social platform has influenced your onlin...,University,University of Delaware,Snapchat,0,0.000
23,What social platform has influenced your onlin...,University,University of Delaware,Twitter,0,0.000
24,What social platform has influenced your onlin...,University,University of Delaware,NaN,1,0.333

In [19]:
data.iloc[:,1:]

     Segment Type           Segment Description     Answer  Count  Percentage
0          Mobile                Global results   Facebook    548       0.205
1          Mobile                Global results  Instagram    916       0.342
2          Mobile                Global results   Snapchat     86       0.032
3          Mobile                Global results    Twitter    179       0.067
4          Mobile                Global results        NaN    947       0.354
...           ...                           ...        ...    ...         ...
1445       Custom  Sexual orientation? Straight   Facebook    215       0.180
1446       Custom  Sexual orientation? Straight  Instagram    354       0.297
1447       Custom  Sexual orientation? Straight   Snapchat     44       0.037
1448       Custom  Sexual orientation? Straight    Twitter     88       0.074
1449       Custom  Sexual orientation? Straight        NaN    492       0.412

[1450 rows x 5 columns]

In [20]:
data.iloc[25:51, 1:3]

   Segment Type             Segment Description
25   University      University of Pennsylvania
26   University      University of Pennsylvania
27   University      University of Pennsylvania
28   University      University of Pennsylvania
29   University      University of Pennsylvania
30   University            Students of New York
31   University            Students of New York
32   University            Students of New York
33   University            Students of New York
34   University            Students of New York
35   University  University of Central Arkansas
36   University  University of Central Arkansas
37   University  University of Central Arkansas
38   University  University of Central Arkansas
39   University  University of Central Arkansas
40   University         Northeastern University
41   University         Northeastern University
42   University         Northeastern University
43   University         Northeastern University
44   University         Northeastern University
45   University       West Virginia University
46   University       West Virginia University
47   University       West Virginia University
48   University       West Virginia University
49   University       West Virginia University
50   University     Northern Arizona University

In [ ]:
#Import the data and show the first and last 10 data samples
# select the first and last data columns
# Select 100th data sample to 200th data sample
# Perform basic statistics on the result of 3